.moonCalendar {
  table {

  }

  .prev_button_container {
    text-align: left;
  }

  .next_button_container {
    text-align: right;
  }

  .year {
    font-size: 30pt;
    width: 3em;
    border: 0;

    margin-left: 0.5em;
  }

  .month {
    font-size: 30pt;
    border: 0;

    /* プルダウンの矢印を消す */
    -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
    -moz-appearance: none; /* ベンダープレフィックス(Firefox用) */
    appearance: none; /* 標準のスタイルを無効にする */

    option {
      font-size: 12pt;
    }
  }

  .date {
    width: 100px;
    height: 60px;
    font-size: 12pt;
    border: 1px solid #000000;
    margin: 0;

    .day {
      display: block;
      position: absolute;

    }

    .moonAge {
      display: block;
      text-align: center;
      margin-left: 15px;
      font-size: 30pt;
      font-family: "Segoe UI Emoji";
    }
  }

  .empty-date {
    border-color: #808080;
  }

  .sun {
    color: #ff0000;
  }

  .sat {
    color: #0000d0;
  }
}
